<nav class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row bg-dark" routerLinkActive="active">
    <div class="container navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="navbar-brand" [routerLink]="['home']">Home</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item"><input placeholder="search" id="searchbar" onkeyup="onKeydownSearch();"/></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['user/login']">
                <div *ngIf="!loginService.loggedIn">Login</div>
                <div *ngIf="loginService.loggedIn"><img src="{{ (loginService.user | async)?.picture }}" width="32" height="32"/></div> </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <h1 class="d-none" id='searchResultsHeadline'>Search Results</h1>
    <ul id="searchResults" class="nav navbar-nav nav-pills">
    </ul>
</div>

<router-outlet></router-outlet>
